.backgroundContainer {
    padding-right: 20px;
    margin: 0;
    border-width: 0;
    background-color: black;
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    grid-gap: 0px;
    grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
}