.link {
    text-decoration: none;
    color: white;
    text-align: center;
}

.linkContainer {
    width: 85%;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 50px;
    min-height: 60vh;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}

.frame {
    position: relative;
    border-width: 0;
    width: 100vw;
    min-height: 100vh;
    left: -20%;
    top: -20%;
    overflow: hidden;
    pointer-events:none;
}